html {
  height: 100%;
  width: 100%;
}

.carousel-caption {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 10px;
  color: #fff;
}

.carousel-caption h5 {
  font-size: 24px;
}

.carousel-caption p {
  font-size: 16px;
}

.carousel-image {
  height: 400px;
  /* Adjust the height as needed */
  object-fit: cover;
}
